/* styles.css */

::-webkit-scrollbar {
      display: none;
      width: 0;
}
.snap-scrollbar::-webkit-scrollbar-track {
      display: none;
}
    

.snap-scrollbar::-webkit-scrollbar-thumb {
      display: none;
}


/* For WebKit browsers (Chrome, Safari) */
.carousel::-webkit-scrollbar {
      height: 8px; /* Set the width of the scrollbar */
      display: block;
}
    
.carousel::-webkit-scrollbar-thumb:horizontal {
      background-color: hsl(12, 88%, 59%);
      border-radius: 25px;
}

.carousel::-webkit-scrollbar-track:horizontal {
background-color: hsl(13, 100%, 96%); /* Set the color of the scrollbar track */
}

::-webkit-scrollbar-thumb:horizontal:hover {
background-color: hsla(12, 87%, 70%, 0.926); /* Set the color of the thumb on hover */
}

    